<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->
<link rel="icon" href="/assets/images/icons8-whale-24.png">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-9535215932849138",
    enable_page_level_ads: true
    });
</script>
{% comment %} <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script> {% endcomment %}
<!-- end custom head snippets -->
